body{
    background-color: black;
    overflow-x: hidden;
}

@media (max-width:991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

img.slide{
    height: 700px;
}

.image img{
    height: 30rem;
    width: 40rem;
}

.foot{
    background-color: #151515;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  .card {
    transition: transform 0.5s;
  }
  .model {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .model-box {
    margin: 10% auto;
    width: 400px;
    background: #fff;
    color: #333;
    position: relative;
    animation: modalopen 1s;
  }
  
  
  .model-body {
    padding: 50px;
  }
  
  .model-body h3 {
    font-weight: bold;
  }
  
  .model-body .btn {
    width: 100%;
    margin-top: 30px;
  }
  
  .model .close {
    cursor: pointer;
    height: 23px;
    width: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .form-control {
    margin: 20px 0;
  }
  
  .form-control label {
    display: block;
    text-transform: uppercase;
  }
  
  .form-control input {
    width: 100%;
    border: 2px #ccc solid;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
  }