body{
    background-color: black;
    overflow-x: hidden;
}

@media (max-width:991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

img.slide{
    height: 700px;
}

.image img{
    height: 30rem;
    width: 40rem;
}

.foot{
    background-color: #151515;
}